main {
  padding-top: 4rem;
}
.container {
  scroll-behavior: smooth;
  position: relative;
  z-index: 1;
  max-width: 1440px;
}
.section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section > div {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}